.husky
/out/
dist
node_modules
.next
# production
build/
public
.eslintrc.json
.gitignore
LICENSE
next.config.js
next-env.d.ts
package.json
package-lock.json
postcss.config.js
.idea/
.eslintcache

!src/
!*.ts
!*.tsx
!*.json
!*.js